<div class="account">
    {{#each profile }}
        <section class="account">
            {{user.username}} {{profile.stock_name}} {{profile.stock_price}} {{profile.shares}}
        </section>
    {{/each}}
</div>